<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <title>SCHEDULE IT</title>

    <link rel="icon" href="../img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/calendar.css">
    <link rel="stylesheet" href="../css/timer.css">
    
    <script type="text/javascript" src="../js/index.js" defer></script>
    <script type="text/javascript" src="../js/timer.js" defer></script>
</head>

<body class="center">
    <header class="logo-header container">
        <img id="logo" src="../img/logo.png"></img>
        <p id="logo-title">Schedule it</p>
    </header>
    <nav class="nav" id="navigation">
        <a class="nav-item" href="profile.html">Profile</a>
        <a class="nav-item" href="calendar.html">Calendar</a>
        <a id="add-slots-menu-item" class="nav-item" href="add-slot.html">Add slots</a>
    </nav>
    <main>
        <div class="container">
            <section class="calendar">
                <h2 id="timer-heading">Web презентации, Petar Yanakiev</h2>
                <span id="timer">00:00:00</span>
                <br/>
                <div id="controls">
                    <div class="timer-btn" id="start">Start</div>
                    <div class="timer-btn" id="stop">Stop</div>
                    <a id="go-calendar" href="../views/calendar.html">Go to calendar</a>
                </div>
            </section>
        </div>
    </main>
</body>

</html>